*{
      font-family: "B612 Mono", serif;
  font-weight: 400;
  font-style: normal;
}
.stem-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.genre-list{
    display: flex;
    flex-wrap: wrap;
}
.button{
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: #02223C 1px 1px 1px;
    border-radius: 0.5em;
    background-color: white;
}
.progress-bar-container {
    max-height: 1em;
    width: 100%;
    display: flex;
    background-color: #DCDCDC;
    min-height: 1em;
}

.progress-bar {
    min-height: 100%;
    background-color: #02223C;
}

.header {
    width: 100%;
    height: 4em;
    background-color: #02223C;
    color: white;
}
.home-card{
    border-radius: 0.5em;
    background-color: #02223C;
    color: white;
    padding: 1em;
}
.home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-button{
    background-color: #02223C;
    color: white;
    font-size: 1.5em ;
    padding:1em;
    border-radius: 0.5em;
    margin: 0.5em;
}
.player{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game-board{
    display: grid;
    grid-template-rows: 1fr 9fr;
    min-height: 100%;
}
.loading-area{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board .play-area{
    min-height: 100%;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.answer-board{
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question-result{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
}
.chip{
    border-radius: 0.5em;
    margin: 0.5em auto;
    padding: 0.5em;
    width: fit-content;
}
.card-title{
    font-size: 1.5em;
    font-weight: bold;
}
.positive{
    color: #00ae20;
    font-weight: bold;
}
.m-auto{
    margin: auto;
}
.primary-bg{
    background-color: #02223C;
    color:white;
}
.track-card .track-cover{
    width: 90%;
    border-radius: 0.5em;
    margin: 0.5em 0.2em 0.2em;
}
.track-card .track-title{
    font-size: 2em;
    font-weight: 700;
}
.track-card .track-artist{
    font-size: 1em;
    font-weight: 200;
}
.track-points{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0.01em;
    min-height: 100%;
    min-width: 4em;
    font-size: 1em;
}
.track-chip.positive{
    background-color: #CBDFCE;
}
.track-chip.negative{
    background-color: #CAB1B1;
}
.track-chip{
    color: #02223C;
    display: flex;
    background-color: white;
    border-radius: 0.5em;
    margin: 0.5em;
}
.track-chip .track-cover{
    min-width: auto;
    max-height: 6em;
    margin: 0.5em;
}
.track-chip .track-info{
    margin: 0.5em;
}
.track-chip .track-title{
    font-size: 1em;
    font-weight: 700;
}

.answer-board .answer-button{
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: #02223C 1px 1px 1px;
    border-radius: 0.5em;
    background-color: white;
}
.body{
    position: absolute;
    top:0;
    padding-top:4em;
    height: 100vh;
    width: 100vw;
}
.header h1 {
    font-size: 3em;
}

.play-button-overlay {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.51);
    color: white;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}
.stem-visual{
    font-size: 2em;
}